{% extends 'main.html' %}

{% block content%}

<h3> You are on my {{message}}</h3>

{% if number >= 10 %}
<p>number is greater than 10</p>
{% else %}
<p>number is smaller than 10</p>

{% endif %}

<hr>

<h1>Projects</h1>

<ol>
    {% for project in projects %}
        <li>: <a href="{% url 'project' project.id %}">{{project.title}}</a>  --- {{project.description}}</li>
        <!-- <li>: <a href="/project/{{project.id}}">{{project.title}}</a>  --- {{project.description}}</li> -->
    {% endfor %}
</ol>
{% endblock %}
